<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/index.css">
    <script src="/static/js/app.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/b8f70dafc1.js" crossorigin="anonymous"></script>
    <title>STUDENT BUDDY</title>
    <link rel="icon" style="border-radius: 1px;" href="/static/images/logo1.png" type="images/x-icon" />
</head>

<body>
    <!-- NAVBAR  -->
    <header>
        <div class="nav-container">
            <nav>
                <div class="logo-wrap slide-left">
                    <img class="logo" style="border-radius: 4px; width: 100px; height: 100px"
                        src="/static/images/logo2.png" alt="img1">
                </div>
                <ul class="nav-ul slide-right">
                    <li class="nav-li"><a href="#about" class="nav-a">home</a></li>
                    <li class="nav-li"><a href="#reviews" class="nav-a">about</a></li>
                    <li class="nav-li"><a href="#contact" class="nav-a">contact</a></li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>


        </div>
    </header>

    <!-- HERO  -->
    <section class="hero">
        <img src="images/circle half.png" class="circle-one">
        <img src="images/Ellipse 2.png" class="circle-two">
        <div class="container">
            <div class="split">
                <div class="hero-left hidden">
                    <h1 class="h1">Single Platform For All Your Learning Needs</h1>
                    <p class="body">Single Platform For All Your Learning Needs.</p>
                    <div class="btn-wrap">
                        <a href="#" class="btn subheading">Lets Try</a>
                        <!-- <a href="#" class="ghost subheading">sell NFTs</a> -->
                    </div>
                </div>
                <div class="hero-right hidden">
                    <img style="border-radius: 30px; width: 600px; height: 500px" src="/static/images/1.gif" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- COMPANY  -->
    <section class="company hiddenb">
        <div class="container">
            <h2 class="subheading">featured on</h2>
        </div>
        <div class="marque" id="marque-ani">
            <div class="marque-content">
                <li></li>
                <li><img src="/static/images/tech.svg"></li>
                <li></li>
                <li><img src="/static/images/forbs shadow.svg"></li>
                <li></li>
                <li><img src="/static/images/big shadow.svg"></li>
                <li></li>
                <li><img src="/static/images/fast shadow.svg"></li>
            </div>
        </div>

        <div class="marque-fixed" id="marque-fixed">
            <div class="marque-list">
                <img src="/static/images/tech.svg">
                <img src="/static/images/big shadow.svg">
                <img src="/static/images/fast shadow.svg">
                <img src="/static/images/forbs shadow.svg">
            </div>
        </div>
    </section>

    <!-- BUY  -->
    <section class="buy slide-left" id="about">
        <div class="container">
            <div class="split">
                <div class="buy-left">
                    <img style="border-radius: 30px; height: 400px; width: 450px" src="/static/images/visualize3.gif" alt="">
                </div>
                <div class="buy-right normalizer">
                    <h2 class="subheading">Concept Visualization</h2>
                    <h1 class="h1">AI to get concept visualization.</h1>
                    <p class="body">Difficulty in understanding concept? This AI tool helps you in visualizing concept,
                        difficult term using simple picture and diagram.</p>
                    <a href="/visualize" class="btn subheading view">Let's Visualize</a>
                </div>
            </div>
        </div>
    </section>

    <!-- BUY 2  -->
    <section class="buy-two slide-right">
        <div class="container">
            <div class="split">
                <div class="two-left normalizer">
                    <h2 class="subheading">Concept Summarization</h2>
                    <h1 class="h1">AI to get short notes of large paragraphs.</h1>
                    <p class="body">Learn concepts in less time, boost time management with AI. This AI tool simply
                        converts your large textual paragraphs to short and crisp notes.</p>
                    <a href="/summarize" class="btn subheading">Let's Summarize</a>
                </div>
                <div class="two-right">
                    <img style="border-radius: 30px" src="/static/images/text-summarization1.gif">
                </div>
            </div>
        </div>
    </section>

    <!-- BUY  -->
    <section class="buy slide-left" id="about">
        <div class="container">
            <div class="split">
                <div class="buy-left">
                    <img style="border-radius: 30px" src="/static/images/grammar1.gif" alt="">
                </div>
                <div class="buy-right normalizer">
                    <h2 class="subheading">Grammar Checker</h2>
                    <h1 class="h1">AI tool to Improve writing and rectify grammar.</h1>
                    <p class="body">Want to make your writing fluent and flawless! The only tool that can help you write
                        mistake free, gets suggestions & be a master in grammar.</p>
                    <a href="/grammar" class="btn subheading view">Correct Grammar</a>
                </div>
            </div>
        </div>
    </section>

    <!-- BUY 2  -->
    <section class="buy-two slide-right">
        <div class="container">
            <div class="split">
                <div class="two-left normalizer">
                    <h2 class="subheading">Question Generator</h2>
                    <h1 class="h1">AI to test your intelligence!</h1>
                    <p class="body">Let’s see if you can compete the question generated by AI. This AI tool can assist
                        you in generating questions based on your content which can help you test your learning.</p>
                    <a href="/questions" class="btn subheading">Generate Questions</a>
                </div>
                <div class="two-right">
                    <img style="border-radius: 30px" src="/static/images/questions.gif">
                </div>
            </div>
        </div>
    </section>

    <section class="buy slide-left" id="about">
        <div class="container">
            <div class="split">
                <div class="buy-left">
                    <img style="border-radius: 30px" src="/static/images/coding_katta.gif" alt="">
                </div>
                <div class="buy-right normalizer">
                    <h2 class="subheading">Coding Katta</h2>
                    <h1 class="h1">AI to help you code!</h1>
                    <p class="body">This AI powered tool helps you translate a program code into your preferred language
                        of programming.
                        Wanna know the complexity of your code? This AI is ready to assist you!</p>
                    <p class="body"><a href="#" id="hi" class="btn subheading">Get Complexity</a></p>
                    <a href="#" class="btn subheading view">Translate Language</a>
                </div>
            </div>
        </div>
    </section>

    <section style="align-items: center;" class="reviews" id="reviews">
        <div class="container normalizer">
            <h2 class="review-title subheading hiddenb">about us</h2>
            <h1 class="h1 hiddenb">Lets Introduce to our Team</h1>
            <div class="grid-parent">
                <div class="grid-item normalizer">
                    <img src="/static/images/avinash.png" class="grid-img">
                    <h2 class="subheading">Avinash Dhakne</h2>
                    <p class="body">Vishwakarma Institute of Technology Pune.<br><br>Depratment of Computer Science
                        Engineering</p>
                </div>
                <div class="grid-item normalizer">
                    <img src="/static/images/hrishi.png" class="grid-img">
                    <h2 class="subheading">Hrishikesh Dhale</h2>
                    <p class="body">Vishwakarma Institute of Technology Pune.<br><br>Depratment of Instrumentation &
                        Control Engineering</p>
                </div>
                <div class="grid-item normalizer">
                    <img src="/static/images/sachin.png" class="grid-img">
                    <h2 class="subheading">Sachin Dhamne</h2>
                    <p class="body">Vishwakarma Institute of Technology Pune.<br><br>Depratment of Computer Science
                        Engineering</p>
                </div>
            </div>
        </div>
    </section>

    <!-- EVENT  -->
    <section class="event slide-left" id="event">
        <div class="container">
            <div class="event-wrap normalizer">
                <h2 class="subheading">are you ready?</h2>
                <h1 class="h1">be a part of <br>the<br> next big thing</h1>
                <a href="#" class="btn subheading view-two">view our pricing</a>
            </div>
        </div>
    </section>

    <!-- FOOTER  -->
    <section class="footer" id="contact">
        <div class="container">
            <a href="#" class="logo">STUDENT BUDDY</a>
            <div class="row">
                <div class="footer-col">
                    <h4>Laern More</h4>
                    <ul>
                        <li class="footer-li"><a href="#" class="footer-a">Home</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">About</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Features</h4>
                    <ul>
                        <li class="footer-li"><a href="#" class="footer-a">Browse</a></li>
                        <li class="footer-li"><a href="#" class="footer-a"></a></li>
                        <li class="footer-li"><a href="#" class="footer-a"></a></li>
                    </ul>
                </div>
                <div class="footer-col icons">
                    <h4>connect</h4>
                    <ul>
                        <li class="footer-li"><a href="#" class="footer-a"><i
                                    class="fa-brands fa-twitter fa-2x"></i></a></li>
                        <li class="footer-li"><a href="#" class="footer-a"><i
                                    class="fa-brands fa-instagram fa-2x"></i></a></li>
                        <li class="footer-li"><a href="#" class="footer-a"><i
                                    class="fa-brands fa-youtube fa-2x"></i></a></li>
                        <li class="footer-li"><a href="#" class="footer-a"><i class="fa-brands fa-github fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="newsletter">
                    <h4>join our newsletter</h4>
                    <div class="news-wrap">
                        <input type="text" placeholder="Email Address" class="footer-input">
                        <a href="#" class="footer-btn btn">submit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-end"></div>
    </section>
</body>

</html>