<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/index.css">
    <script src="/static/js/app.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b8f70dafc1.js" crossorigin="anonymous"></script>
    <title>STUDENT BUDDY</title>
    <link rel="icon" href="/static/images/student-profile.png" type="images/x-icon"/>
</head>
<body>
    <!-- NAVBAR  -->
    <header>
        <div class="nav-container">
            <nav>
                <div class="logo-wrap slide-left">
                    <a href="#" class="logo">STUDENT BUDDY</a>
                </div>
                <ul class="nav-ul slide-right">
                    <li class="nav-li"><a href="#about" class="nav-a">home</a></li>
                    <li class="nav-li"><a href="#reviews" class="nav-a">services</a></li>
                    <li class="nav-li"><a href="#event" class="nav-a">about</a></li>
                    <li class="nav-li"><a href="#contact" class="nav-a">contact</a></li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </div>
    </header> 

    <!-- HERO  -->
    <section class="hero">
        <img src="/static/images/ half.png" class="circle-one">
        <img src="/static/images/Ellipse 2.png" class="circle-two">
        <div class="container">
            <div class="split">
                <div class="hero-left hidden">
                    <h1 class="h1">Single Platform For All Your Learning Needs</h1>
                    <p class="body">Single Platform For All Your Learning Needs.</p> 
                    <div class="btn-wrap">
                        <a href="#" class="btn subheading">Lets Try</a>
                        <a href="#" class="ghost subheading">sell NFTs</a>
                    </div>
                </div>
                <div class="hero-right hidden">
                    <img src="/static/images/hero comp.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- COMPANY  -->
    <section class="company hiddenb">
        <div class="container">
            <h2 class="subheading">featured on</h2>
        </div>
            <div class="marque" id="marque-ani">
                <div class="marque-content">
                    <li></li>
                    <li><img src="/static//images/tech.svg"></li>
                    <li></li>
                    <li><img src="/static/images/forbs shadow.svg"></li>
                    <li></li>
                    <li><img src="/static/images/big shadow.svg"></li>
                    <li></li>
                    <li><img src="/static/images/fast shadow.svg"></li>
                </div>
            </div>

            <div class="marque-fixed" id="marque-fixed">
                <div class="marque-list">
                    <img src="/static/./images/tech.svg">
                    <img src="/static/images/big shadow.svg">
                    <img src="/static/images/fast shadow.svg">
                    <img src="/static/images/forbs shadow.svg">
                </div>
            </div>
    </section>

    <!-- BUY  -->
    <section class="buy slide-left" id="about">
        <div class="container">
            <div class="split">
                <div class="buy-left">
                    <img src="/static/images/layout.svg" alt="">
                </div>
                <div class="buy-right normalizer">
                    <h2 class="subheading">Concept Summarization</h2>
                    <h1 class="h1">Built-in analytics to track your NFTs</h1>
                    <p class="body">Use our built-in analytics dashboard to pull valuable insgihts and monitor the value of your Krypto portfolio over time.</p>
                    <a href="/summarize" class="btn subheading view">Let's Summarize (Live)</a>
                </div>
            </div>
        </div>
    </section>

    <!-- BUY 2  -->
    <section class="buy-two slide-right">
        <div class="container">
            <div class="split">
                <div class="two-left normalizer">
                    <h2 class="subheading">Concept Visualizer</h2>
                    <h1 class="h1">sell your NFTs from anywhere at any time</h1>
                    <p class="body">With our easy-to-use platform, you can buy or sell assets from anywhere in the world, at any time</p>
                    <a href="/visualize" class="btn subheading">Let's Visualize</a>
                </div>
                <div class="two-right">
                    <img src="/static/images/phone.svg">
                </div>
            </div>
        </div>
    </section>

    <!-- BUY  -->
    <section class="buy slide-left" id="about">
        <div class="container">
            <div class="split">
                <div class="buy-left">
                    <img src="/static/images/layout.svg" alt="">
                </div>
                <div class="buy-right normalizer">
                    <h2 class="subheading">Grammar Checker</h2>
                    <h1 class="h1">Built-in analytics to track your NFTs</h1>
                    <p class="body">Use our built-in analytics dashboard to pull valuable insgihts and monitor the value of your Krypto portfolio over time.</p>
                    <a href="/grammar" class="btn subheading view">Check Grammar (current)</a>
                </div>
            </div>
        </div>
    </section>

      <!-- BUY 2  -->
      <section class="buy-two slide-right">
        <div class="container">
            <div class="split">
                <div class="two-left normalizer">
                    <h2 class="subheading">Question Generator</h2>
                    <h1 class="h1">sell your NFTs from anywhere at any time</h1>
                    <p class="body">With our easy-to-use platform, you can buy or sell assets from anywhere in the world, at any time</p>
                    <a href="#" class="btn subheading">Generate Questions</a>
                </div>
                <div class="two-right">
                    <img src="/static/images/phone.svg">
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIALS  -->
    <!-- <section class="reviews" id="reviews">
        <div class="container normalizer">
            <h2 class="review-title subheading hiddenb">about us</h2>
            <h1 class="h1 hiddenb">Lets Introduce to our Team</h1>
            <div class="grid-parent">
                <div class="grid-item normalizer">
                    <img src="./images/Pratik_ID.png" class="grid-img">
                    <h2 class="subheading">walter white</h2>
                    <p class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, fugit placeat perferendis eaque eius ipsam deserunt id qui pariatur vel.</p>
                </div>
                <div class="grid-item normalizer">
                    <img src="images/saul goodman.svg" class="grid-img">
                    <h2 class="subheading">saul goodman</h2>
                    <p class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, fugit placeat perferendis eaque eius ipsam deserunt id qui pariatur vel.</p>
                </div>
                <div class="grid-item normalizer">
                    <img src="images/jesse pinkman.svg" class="grid-img">
                    <h2 class="subheading">jesse pinkman</h2>
                    <p class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, fugit placeat perferendis eaque eius ipsam deserunt id qui pariatur vel.</p>
                </div>
                <div class="grid-item normalizer">
                    <img src="images/jesse pinkman.svg" class="grid-img">
                    <h2 class="subheading">jesse pinkman</h2>
                    <p class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, fugit placeat perferendis eaque eius ipsam deserunt id qui pariatur vel.</p>
                </div>
            </div>
        </div>
        </section> -->

    <!-- EVENT  -->
    <section class="event slide-left" id="event">
        <div class="container">
            <div class="event-wrap normalizer">
                <h2 class="subheading">are you ready?</h2>
                <h1 class="h1">be a part of <br>the<br> next big thing</h1>
                <a href="#" class="btn subheading view-two">view our pricing</a>
            </div>
        </div>
    </section>

    <!-- FOOTER  -->
    <section class="footer" id="contact">
        <div class="container">
            <a href="#" class="logo">STUDENT BUDDY</a>
            <div class="row">
                <div class="footer-col">
                    <h4>Student Buddy</h4>
                    <ul>
                        <li class="footer-li"><a href="#" class="footer-a">Home</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">About</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Market</h4>
                    <ul>
                        <li class="footer-li"><a href="#" class="footer-a">Browse</a></li>
                        <li class="footer-li"><a href="#" class="footer-a"></a></li>
                        <li class="footer-li"><a href="#" class="footer-a"></a></li>
                    </ul>
                </div>
                <div class="footer-col icons">
                    <h4>contact</h4>
                    <ul>
                        <li class="footer-li"><a href="#" class="footer-a"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
                        <li class="footer-li"><a href="#" class="footer-a"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
                        <li class="footer-li"><a href="#" class="footer-a"><i class="fa-brands fa-youtube fa-2x"></i></a></li>
                        <li class="footer-li"><a href="#" class="footer-a"><i class="fa-brands fa-github fa-2x"></i></a></li>
                    </ul>
                </div>
                <div class="newsletter">
                    <h4>join our newsletter</h4>
                    <div class="news-wrap">
                        <input type="text" placeholder="Email Address" class="footer-input">
                        <a href="#" class="footer-btn btn">submit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-end"></div>
    </section>
</body>
</html>